body {
 display:flex;
 flex-direction: column;
 min-height: 100vh;
 justify-content: space-between;
 font-family: "Open Sans";
}

.header, .intro_section, .footer {
  display: flex;
  background-color: #1F2937;
  color: #f9faf8
}

.header {
  height: 72px;
}

.header_logo {
  margin-right: auto;
  font-size: 24px;
}

.right-links {
  margin-left: auto;
}

ul {
  list-style: none;
  display:flex;
  margin: 0;
}

li {

}

.intro_section {
  display:flex;
}

.intro_left {
  display:flex;
  flex-direction: column;
}

.welcome {
  font-size: 48px;
  font-weight: bold;
}

.hello {
  font-size: 18px;
}

.button {
  background-color: #3882f6;
}

.info_section {

}

.info_header {

}

.info_images {

}

.quote_section {
 display:flex;
 background-color: #e5e7eb;
 justify-content: center;


}

.quote_box {
 display: flex;
 flex-direction: column;
 width: 50%;
 padding: 100px
}

.quote {
  font-size: 36px;
  font-style: italic;
}

.quote_person {
  font-weight: bold;
  
}

.signup_section {

}

.signup_box {

}

.signup_description {

}

.footer {
  display:flex;
  height: 72px;
  justify-content: center;
  align-items: center;
}