body {
 display:flex;
 flex-direction: column;
 min-height: 100vh;
 justify-content: space-between;
}

.header, .intro_section {
  display: flex;
  background-color: #1F2937;
  color: #f9faf8
}

.header_logo {
  margin-right: auto;
}

.right-links {
  margin-left: auto;
}

ul {
  list-style: none;
  display:flex;
}

li {

}

.intro_section {
  display:flex;
}

.intro_left {
  display:flex;
  flex-direction: column;
}

.welcome {
  font-size: 48px;
  font-weight: bold;
}

.hello {

}

.button {

}

.info_section {

}

.info_header {

}

.info_images {

}

.quote_section {

}

.quote {

}

.quote_person {

}

.signup_section {

}

.signup_box {

}

.signup_description {

}

.footer {

}