body {
 display:flex;
 flex-direction: column;
}

.header {
  display: flex;
}

.header_logo{

}

.right-links {

}

ul {

}

li {

}

.intro_section {

}

.intro_left {

}

.welcome {

}

.hello {

}

.button {

}

.info_section {

}

.info_header {

}

.info_images {

}

.quote_section {

}

.quote {

}

.quote_person {

}

.signup_section {

}

.signup_box {

}

.signup_description {

}

.footer {

}